body{
    background:#2f233a;
}

h1{
    size:30px;
    color:burlywood;
}

div{
    background-color:black;
}

div div{
    background:rgb(173, 48, 48);
    width:400px;
    border:line #67677d;
    
}
p{
    color:rgb(70, 0, 12);

}